.breathing {
    animation: breathing 1s linear 2 normal;
}

@-webkit-keyframes breathing {
  0% {	  
    transform: translateX(0px) translateY(-1px);
  }

  20% {
    transform: translateX(-8px) translateY(-1px);
  }
    
  80% {
    transform: translateX(8px) translateY(-1px);
  }
  
  100% {
    transform: translateX(0px) translateY(-1px);
  }
}

.dropper {   
    margin: 20px 10px 10px 20px;
    transition: all 200ms linear 0s;
	position:relative !important;
	background-color: #fff !important;
    border-color: #6a6a6a;
    border-radius: 0px;
    border-style: solid;
    border-width: 0 !important;
    box-shadow: 2px 1px 3px 2px #6a6a6a;
    display: table;
    float: left;
    padding: 7px;
	text-align: center;
}

.drop_title {
	color: #004494;
	font-weight:bold;
}

.drop_hover {
	box-shadow: 0 0 30px #6a6a6a ;
}

.cant_drop_hover {
	box-shadow: 0 0 30px #d60206 ;
}

.draggable, .draggable label {
    -moz-user-select: none;
    background-color: #ccc;
    color: #004494;
    cursor: move;
    margin: 5px 2px 2px 5px;
    padding: 4px;
    text-align: center;
    transition: all 200ms linear 0s;
    border: 0 none;
    border-radius: 0px;
}

.not_draggable {
	margin: 5px 2px 2px 5px;
	padding: 4px;
	color: #004494;
	background-color: #cbcbcb ;
	border: 0 none;
    border-radius: 0px;
	text-align: center;
	cursor: default;
	transition: all 200ms linear;
}

.combobox {
	color:#004494;
	font-size: 9pt;
	font-family: verdana, serif;
	background-color: #ccc;
	border-color:#fff;
	border-radius: 0px;
	border-style: solid;
	border-width: 2px;
	padding:5px;
}

.combobox option {
	padding-right:15px;
	border:none;
	margin-top:2px;
	margin-bottom:2px;
}

.btn_combobox {
	position:relative;
}
.btn_combobox:after {
    content:'>';
    font:16pt "Consolas", monospace;
	font-weight: bold;
    color:#004494;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:10px; top:-1px;
    padding:0;
    position:absolute;
    pointer-events:none;
}

.btn_combobox:before {
	background-color: #ccc;
	border-left:1px solid #004494;
	border-radius: 0;
    content:'';
	display:block;
	height:26px;
	padding:1px;
	pointer-events:none;
	position:absolute;
    right:6px;
	top:-4px;
    width:22px; 
}

.loading {
	position: fixed;
	opacity:0.9;
	top:400px;
	left:calc(50% - 40px);
	height:50px;
}

.loading img {
	position: absolute;
	cursor:pointer;
	z-index:10;
	width:40px;
}

.editbox {
	font-family: verdana, serif ; 
	font-size: 10pt;
	font-style: normal;
	color:#004494;
	text-align: left;
	background-color: #ccc;
	border-width: 2px;
	border-color: #ccc;
	padding:5px;
}

.fieldset_af{
	border-radius:0px;
	border-color:#6a6a6a;
	border-style: solid;
	background-color: #fff !important;
	border-width: 1px !important;
	margin: 0 10px;
	padding: 7px;
	display: table;
	float: left;
	width:calc(100% - 40px);
	box-shadow: 2px 1px 3px 0 #6a6a6a;
}

.fieldset_af legend{
	background:#fff;
	display: inline-table; 
	font-family: verdana, serif ; 
	font-size: 10pt ;
	font-style: normal;
	color:#6a6a6a;
	white-space:nowrap;
	font-weight:bold;
	text-decoration:none;
	padding: 0 5px 0 5px;
}

.fieldset_af table {
	background-color:#fff;
}

.fieldset_af select {
	border-color:#fff;
}

.btn_frm {
	background-color: #ccc;
	color: #004494;
	border-left:2px solid #ccc;
	border-top:2px solid #ccc;
	border-right:2px solid #6c6c6b;
	border-bottom:2px solid #6c6c6b;
	border-radius: 0px;
	padding:3px;
	font-family: verdana,serif;
	cursor:pointer;
}

.btn_frm:active {
	border-top:2px solid #fff;
	border-left:3px solid #fff;
	border-right:1px solid #6c6c6b;
	border-bottom:1px solid #6c6c6b;
	margin-bottom:1px;
	border-radius: 0px;
	margin-right:0px;
}

.valid input{
	background:url(../images/valider.png) no-repeat;
}

#tooltip-af {
	position:absolute;
	z-index:100;
	color:#004494 ;
	background-color:#ccc;
	border-width: 0;
	box-shadow: 2px 1px 3px 2px #6a6a6a;
	padding:5px;
	font-size:8pt;
	font-family: verdana, serif;
	opacity:0.7;
}

.datepicker {
	font-family: verdana, serif ; 
	font-size: 10pt;
	font-style: normal;
	color:#004494;
	text-align: left;
	background-color: #ccc;
	border-width: 2px;
	border-style: solid;
	border-color: #fff;
	padding:5px;
}

.textarea_com_edit {
	white-space:pre-wrap;
	background-color: #ccc;
	border-radius: 0px;
	padding:10px 5px;
	border-width:2px;
	border-style:solid;
	border-color: #fff;
	text-align:left;
	resize:none;
	width:calc(100% - 10px);
	min-height: 35px;
	word-wrap: break-word;
}

.no-border{
	background-color: transparent !important;
	border-radius: 0 !important;
	border-width: 0 !important;
	display: table !important;
	float: left;
	white-space:nowrap;
	padding:0 !important;
}

.bilan-af, .bilan-af tr td{
	vertical-align: top;
	background-color: transparent !important;
	border-radius: 0 !important;
	border-width: 0 !important;
	white-space:nowrap;
}

.bilan-af li{
	list-style-type: none;
	margin-left:-10px;
}

.explorateur_fond_before:before {
	content:'>';
    font:16pt "Consolas", monospace;
	font-weight: bold;
    color:#004494;
    transform:rotate(270deg);
    padding:0;
    position:absolute;
    pointer-events:none;
}

.explorateur_fond_after:after {
	content:'>';
    font:16pt "Consolas", monospace;
	font-weight: bold;
    color:#004494;
    transform:rotate(90deg);
    padding:0;
	bottom:0;
    position:absolute;
    pointer-events:none;
}

.explorateur_contenu {
	background-color: #fff;
	border-radius: 0px;
}

.referent {
	background-color:#f0c08d;
	border-color:#f0c08d;
	border-style: solid;
	border-width: 2px;
	border-radius:0px;
}

.lib_alerte {
	font-family: verdana, serif ; 
	font-size: 9pt ;
	font-weight: bold;
	font-style: normal;
	color:#ff0000;
	text-align: center;
	text-decoration:blink;
}

.lot_bloque, .lot_bloque  label, .lot_bloque a {
    color: #ccc;    
}

.lot_bloque select, .lot_bloque input, .lot_bloque textarea, .lot_bloque  label.btn_combobox::after, .lot_bloque  label.btn_combobox::before {
	color: #fff;   
	border-color: #fff;
}

.lot_supprime, .lot_supprime  label, .lot_supprime a, .lot_supprime select, .lot_supprime input, .lot_supprime textarea, .lot_supprime  label.btn_combobox::after, .lot_supprime  label.btn_combobox::before {
    color: #fe0000;    
}

.help {
	color: #d77a0f !important;
	white-space: pre-wrap;
}

.img_help {
	z-index:30;
	position:absolute;
	cursor:pointer;
	width:25px;
	animation-name: img_help;
    animation-duration: 2s;
	animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-webkit-keyframes img_help {
  0% {	  
    filter: hue-rotate(360deg) saturate(100%) brightness(100%);
	transform:rotate(0deg);
	opacity:1;
  }
  
  25% {
    filter: hue-rotate(360deg) saturate(100%) brightness(100%);
	transform:rotate(0deg);
  }
  
  50% {
    filter: hue-rotate(360deg) saturate(100%) brightness(100%);
	transform:rotate(0deg);
	opacity:0.2;
  }
  
  75% {
    filter: hue-rotate(360deg) saturate(100%) brightness(100%);
	transform:rotate(0deg);
  }
      
  100% {
    filter: hue-rotate(360deg) saturate(100%) brightness(100%);
	transform:rotate(0deg);
	opacity:1;
  }
}

.img_tip_off, .img_tip_on {
	z-index:30;
	position:absolute;
	cursor:help;
	width:25px;		
    animation-duration: 3s;
	animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}
.img_tip_off {
	animation-name: img_tip_off;
}

.img_tip_on {	
	animation-name: img_tip_on;
}
	
@-webkit-keyframes img_tip_off {
  0% {	  
    opacity:0;
  }
        
  30% {
   opacity:1;
  }
  
  100% {
   opacity:1;
  }
}

@-webkit-keyframes img_tip_on {
  0% {	  
    opacity:1;
  }
      
  30% {
   opacity:0;
  }
  
  100% {
   opacity:0;
  }
}

.simuli_click {
	animation-duration: 0.5s;
	animation-timing-function: ease-out;
    animation-iteration-count: 5;
	animation-name: simuli_click;
}
@-webkit-keyframes simuli_click {
  0% {	  
    box-shadow: 0 0 8px 0px #d77a0f;
  }
      
  33% {
   box-shadow: 0 0 8px 2px #d77a0f;
  }
  
  66% {
   box-shadow: 0 0 8px 4px #d77a0f;
  }
  
  100% {
   box-shadow: 0 0 8px 6px #d77a0f;
  }
}

.help_mask {
	opacity:0.2;
}

.filigrane_help {	
	opacity:0.4;
	-webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    transform:rotate(30deg);
	position:fixed;
	left:calc(50% - 240px);
	top:50%;
	z-index:20;
}

.filigrane_help label {
	font-size:50pt;
	font-weight: bold;
	color:gray;
	word-spacing: 10px;
	text-shadow: 4px 4px 4px rgba(0,0,0, 1);
	letter-spacing:5px;
}

.tooltip_help {
	font-weight: bold !important;
	position:absolute;
	z-index:100;
	color:rgba(210,210,210, 0.9) !important;
	background-color:#d77a0f !important;
	border-width: 0;
	box-shadow: 2px 1px 3px 2px #6a6a6a;
	margin:10px !important;
	padding:10px !important;
	font-size:10pt !important;
	font-family: verdana, serif;
	opacity:1 !important;
}

.glossaire_titre {
	margin-left:25px;
}

.btn_frm_help {
	background-color: #ccc;
	color: #004494;
	border-left:2px solid #ccc;
	border-top:2px solid #ccc;
	border-right:2px solid #6c6c6b;
	border-bottom:2px solid #6c6c6b;
	border-radius: 0px;
	padding:3px;
	font-family: verdana,serif;
}