.alphabet {
	overflow: hidden;
	width: 100%;
	text-align : center;
	margin-bottom:10px;
}

.alphabet div {
	width : calc(90% / 27);
	text-align : center;
	display: inline-table; 
	font-family: verdana, serif ; 
	font-size: 10pt ;
	font-style: normal;
	color:#004494;
	white-space:nowrap;
	font-weight:normal;
	text-decoration:none;
}

.alphabet div span{
	cursor:pointer;
}

.alphabet div span:hover {
	font-weight:bold;
	font-size: 11pt ;
}

.prec_suiv {
	font-family: verdana, serif ; 
	font-size: 10pt ;
	font-style: normal;
	color:#004494;
	white-space:nowrap;
	cursor: pointer;
}

.bilan-foncier, .bilan-foncier tr td{
	vertical-align: top;
	background-color: transparent !important;
	border-radius: 0 !important;
	border-width: 0 !important;
	white-space:nowrap;
}

.bilan-foncier li{
	list-style-type: none;
	margin-left:-10px;
}

.parc_evidence {
	font-family: verdana, serif ; 
	font-size: 8pt;
	color:#004494;
	font-weight:bold;
	text-decoration:none;
}

.prob_conv {
	position: absolute;
	top:325px;
	width:calc(100% - 90px);
	height:490px;
	left:45px;
	text-align:center;
	vertical-align: middle;
}

.prob_conv table {
	position: absolute;
	width:100%;
	height:100%;
}

.prob_conv label {
	padding-top:10px;
	color: #d77b0e;
    font-family: Cambria,Verdana;
    font-size: 25pt;
    font-weight: bold;
    left: 0;
    letter-spacing: 2px;
    opacity: 0.9;
    position: absolute;
    text-align: center;
    text-shadow: 2px 2px 5px #777;
    transform: rotate(-20deg);
    width: 100%;
    word-spacing: 5px;
}

#tbl_site, #tbl_parcelle, #tbl_proprio, #tbl_acte {
	margin: 0 0 0 5px;
	padding: 25px;
	width: calc(100% - 10px);
}
#tbl_proprio {
padding: 26px 25px 25px !important;
}

#tbl_parc, #tbl_prop, #tbl_mf {
	width: 100%;
}
#tbl_parc, #tbl_prop {
	padding-top: 25px;
}
#tbl_cptprop {
	padding-top: 5px;
}
#tbl_mf {
	padding-top:20px;
}
#frm_acte {
	padding-top:20px;
}

.editbox_af {
	background-color: #f0c08d;
	border-color:#edab5f;
}

.combobox_af {
	background-color: #f0c08d;
	border-color:#edab5f;
}

.btn_combobox_af:before {
	background-color: #f0c08d;
}

.popup_avertissement{
	position: fixed;
	opacity:0.9;
	bottom:100px;
	left:100px;
	width:calc(100% - 200px);
	height:50px;
	background-color: #d66a6a;
	border-radius: 5px;
	border-color: #ec1f00 #a01200 #a01200 #ec1f00;
	border-style: solid;
	border-width: 2px 3px 3px 2px;
	text-align: center;
	padding-top:5px;
	filter: drop-shadow(0px 8px 5px rgba(120,150,100));
}
.popup_avertissement label{
	font-family: verdana, serif ; 
	font-size: 13pt ;
	font-style: normal;
	color:#004494;
	font-weight:bold;
	text-decoration:none;
	left:0;
	top:5px;
	position: absolute;
	width:100%;
	z-index:5;
}
.popup_avertissement img{
	position: absolute;
	right: 15px;
	cursor:pointer;
	z-index:10;
}

.prob_acte a {
	color: #ec1f00 !important;
}

.tri_croissant {
	text-align: right;
	width:15px;
}
.tri_croissant span {
	display: table !important;
    font:12pt "Consolas", monospace;
    color:#004494;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    cursor:pointer;
	width:15px;
}