html{
	height:100%;
}

body {
	background:#cfe4b9;
	min-width:1024px;
	height:calc(100% - 10px);
	margin: 0;
	overflow-y:scroll;
}

header, footer, article, aside, section, nav {
	display: block;
}

header, nav {
	margin: 6px 6px 0px 6px;
	min-width: 860px;
}

footer {
	min-width: 860px;
}

form {
	display:inline;
}

#main {
	margin: 10px 40px 20px;
	min-height: calc(100% - 287px);
	height: auto !important;
	height: 100%;
	min-width: 810px;
}

h1 {
	text-align:center;
	color:#7ab51d;
	font-family:News Gothic Bold BT, News Gothic Demi BT, Cambria, Verdana;
	font-size:29pt;
	letter-spacing:2px;
	margin:0;
	padding:5px 0 0 5px;
	text-decoration:underline;
	text-shadow: 1px 1px 6px #777;
}

h2 {
	text-align:center;
	margin-top:20px;
	color:#d77b0e;
	font-family:News Gothic Bold BT, News Gothic Demi BT, Cambria, Verdana;
	font-weight:bold;
	font-size:18pt;
	padding:0;
	text-decoration:none;
	text-shadow: 1px 1px 2px #777;
}

h3 {
	text-align:center;
	color:#004494;
	font-family:News Gothic Bold BT, News Gothic Demi BT, Cambria, Verdana;
	font-size:15pt;
	padding-bottom:20px;
	margin:0;
	text-decoration:none;
	text-shadow: 1px 1px 1px #777;
}

div#tooltip {
	position:absolute;
	visibility:hidden;
	z-index:100;
	color:#7ab51d;
	background-color:#dfecc1;
	border-color:#accf8a;
	border-radius: 5px 5px 5px 5px;
	border-style: solid;
	border-width: 1px 2px 2px 1px;
	padding:5px;
	font-size:8pt;
	font-family: verdana, serif;
	opacity:0.9;
	max-width:130px;
}

.breadcrumb, .breadcrumb a, .breadcrumb span {
	font-family: verdana, serif ; 
	font-size: 8pt ;
	vertical-align: top;
	font-style: normal;
	color:#004494;
	white-space:nowrap;
	text-align: left;
	text-decoration:none;
	margin:10px 0 0 0;
	line-height: 1.2em;
}

.footer {
	font-family: verdana, serif ; 
	font-size: 7pt ;
	vertical-align: top;
	font-style: normal;
	color:#004494;
	white-space:nowrap;
	text-align: right;
	font-weight:bold;
	text-decoration:none;
}

.deconnexion {
	font-family: verdana, serif ; 
	font-size: 7.5pt ;
	vertical-align: top;
	font-style: normal;
	color:#004494;
	white-space:nowrap;
	text-align: right;
	font-weight:bold;
	text-decoration:none;
	right: 8px;
	top: 8px;
}

.deconnexion  div{
	padding:10px;
	margin:12px 0px 0px 20px;
	position: absolute;
    right: 10px;
    top: 20px;
}

.deconnexion a{
	font-family: verdana, serif ; 
	font-size: 8pt ;
	font-style: normal;
	color:#004494;
	white-space:nowrap;
	text-align: right;
	font-weight:bold;
	text-decoration:none;
	padding-top:5px;
	margin-top:150px;
}