#tbody_debug_contenu #explain{
	padding-top:15px;
}

#img_bug {
	position:relative;
	right:255px;
	bottom:25px;
}
#img_bug2 {
	position:absolute;
	right:255px;
	bottom:25px;
}


.debug_form {
	background: transparent;
	border: 0;
	width: auto;
	position:relative;
}

.debug_form input{
	background: transparent;
	border: 0;
	color: #004494;
	width: 50%;
}

.debug_form textarea{
	background: #dfecc1;
	color: #004494;
	border: 0;
}

.debug_span{
	position: fixed;
	bottom:90px;
	width:calc(100%);
	z-index:2000;
}

.debug_fond {
	cursor:default;
	overflow:hidden;
	top:20px;
	width:calc(100% - 20px);
	height:calc(100% - 10px);
}

.debug_contenu{
	background-color: #accf8a;
	border-radius: 5px;
	border-color: #f88300 #ff851d #f24400 #ff6808;
	border-style: solid;
	border-width: 2px 3px 3px 2px;
	float: right;
	padding:15px;
	margin-right: 15px;
}


.debug_send {
	text-align:center;
	margin-right:80px;
}
.debug_send input{
	font-size:0pt;
	border:0px;	
	cursor:pointer;
	background:url(../images/send_mail.png) no-repeat;
	background-size: contain;
	width:40px;
	height:40px;
}

