.explorateur_span{
	position: absolute;
	top:225px;
	width:calc(100% - 80px);
	left:40px;
	height:auto;
}

.explorateur_fond {
	cursor:default;
	overflow:hidden;
	top:20px;
	width:calc(100% - 20px);
	height:calc(100% - 10px);
}

.explorateur_fond  div{
	position: absolute;
	width:calc(100% - 10px);
}

.explorateur_contenu{
	background-color: #accf8a;
	border-radius: 5px;
	border-color: #ccc #6c6c6b #6c6c6b #ccc;
	border-style: solid;
	border-width: 1px 2px 2px 1px;
	padding:15px;
}



