.identification_contenu{
	background-color: #accf8a;
	border-radius: 5px 5px 5px 5px;
	border-color: #ccc #6c6c6b #6c6c6b #ccc;
	border-style: solid;
	border-width: 1px 2px 2px 1px;
	padding:15px 15px 15px 15px;
	margin-top:100px;
}

.fieldset_alert{
	min-height:255px;
	border-width:0px;
	border-radius:10px;
	border-color:#9fbf7f #90ad73 #90ad73 #9fbf7f;
	border-style: solid;
	background-color: #cfe4b9 !important;
	border-width: 0 !important;
	padding: 7px;
	display: table !important;
	float: right;
	margin: 10px;
	padding:20px;
	transform-origin: 20% 50%;
	transform: rotate(-1deg);
	filter: drop-shadow(0px 8px 5px rgba(120,150,100,0.9));
	white-space:nowrap;
}

.fieldset_alert legend{
	display: inline-table; 
	font-family: verdana, serif ; 
	font-size: 10pt ;
	font-style: normal;
	color:#6a6a6a;
	white-space:nowrap;
	font-weight:bold;
	text-decoration:blink;
	padding: 0 5px 0 5px;
}

.fieldset_alert a{
	cursor:pointer;
	font-family: verdana, serif ; 
	font-size: 10pt ;
	font-style: normal;
	color:#d77b0e;
	font-weight:normal;
	padding: 0 5px 0 5px;
	text-shadow: 1px 1px 2px #777;
}

.fieldset_alert label{
	display: block; 
	font-family: verdana, serif ; 
	font-size: 10pt ;
	font-style: normal;
	color:#6a6a6a;
}

.fieldset_alert td, .fieldset_alert span{
	white-space:nowrap;
	display: inline-table; 
}

#crossfade {
    position:relative;
}
#crossfade img {
    position:absolute;
    left:0;
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;    
    transition: opacity 0.7s ease-in-out;
}

#crossfade img.top:hover {
    opacity:0;
}