/* utilisée pour l'affichage des boutons des différentes pages d'accueil */
.btn_accueil {	
	width:calc(50%);	
}
.btn_accueil a{
	background-color:#accf8a;
	font-weight:bold;
	text-align:center;
	padding:10px;
	border-radius: 4px;
	border-width: 2px 4px 4px 2px;
	box-shadow: 3px 3px 4px 0 #6a6a6a;
    filter: drop-shadow(3px 3px 4px #6a6a6a);
	cursor:pointer;	
	text-decoration:none;
}
.left {
	text-align:right;
}
.right {
	margin-left:50%;
	text-align:left;
}
.btn_1 a{
	color:#e77c30;
	border: 1px solid #e77c30;
	position:relative;
	top:30px;
	
}
.btn_1 a:hover{
	background-color:#e77c30;
	color:#e0cf8c;
}
.btn_2 a{
	color:#639e6c;
	border: 1px solid #639e6c;
	position:relative;
	top:70px;
}
.btn_2 a:hover{
	background-color:#639e6c;
	color:#e0cf8c;
}
.btn_3 a{
	color:#76a3b8;
	border: 1px solid #76a3b8;
	position:relative;
	top:110px;
}
.btn_3 a:hover{
	background-color:#76a3b8;
	color:#e0cf8c;
}
.btn_4 a{
	color:#ef6666;
	border: 1px solid #ef6666;
	position:relative;
	top:150px;
}
.btn_4 a:hover{
	background-color:#ef6666;
	color:#e0cf8c;
}
.btn_5 a{
	color:#616161;
	border: 1px solid #616161;
	position:relative;
	top:190px;
}
.btn_5 a:hover{
	background-color:#616161;
	color:#e0cf8c;
}
.btn_6 a{
	color:#ff0000;
	border: 1px solid #ff0000;
	position:relative;
	top:230px;
}
.btn_6 a:hover{
	background-color:#ff0000;
	color:#e0cf8c;
}
.btn_7 a{
	color:#000;
	border: 1px solid #000;
	position:relative;
	top:270px;
}
.btn_7 a:hover{
	background-color:#000;
	color:#e0cf8c;
}

/* --------------------------------------------------- */

.label {
	font-family: verdana, serif ; 
	font-size: 9pt ;
	font-style: normal;
	color:#004494;
	white-space:nowrap;
	text-align: left;
	font-weight:bold;
	text-decoration:none;
	padding:3px;
}

.label_simple {
	font-family: verdana, serif ; 
	font-size: 9pt ;
	font-style: normal;
	color:#004494;
	white-space:nowrap;
	text-align: left;
	font-weight:normal;
	text-decoration:none;
	padding:3px;
}

.editbox {
	font-family: verdana, serif ; 
	font-size: 9pt;
	font-style: normal;
	color:#004494;
	text-align: left;
	background-color: #dfecc1;
	border-color:#accf8a;
	border-radius: 5px;
	border-style: solid;
	border-width: 2px 0 1px;
	padding:5px;
	height:18px;
}
.editbox::-moz-placeholder, .editbox:-moz-placeholder  {
	font-family: verdana, serif ; 
	color:#004494;
	opacity:0.8;
}
.editbox_larger {
	width: calc(100% - 12px);
}

.datepicker {
	font-family: verdana, serif ; 
	font-size: 10pt;
	font-style: normal;
	color:#004494;
	text-align: left;
	background-color: #dfecc1;
	border-color:transparent;
	border-radius: 5px;
	border-style: solid;
	border-width: 2px;
	padding:5px;
}

.combobox {
	color:#004494;
	font-size: 9pt;
	font-family: verdana, serif;
	background-color: #dfecc1;
	border-color:transparent;
	border-radius: 5px;
	border-style: solid;
	border-width: 2px 0 1px;
	padding:5px;
}
.combobox option{
	border:none;
	margin-top:2px;
	margin-bottom:1px;
}
.combobox option[value="-1"] {
	font-style:italic;
	font-size:8pt;
}
.combobox option[value="-1"]::before {
	content:'-- ';
}
.combobox option[value="-1"]::after {
	content:' --';
}
.btn_combobox {
	position:relative;
}
.btn_combobox:before {
	background-color: #dfecc1;
	border-left:1px solid #004494;
	border-radius: 0 3px 3px 0;
    content:'';
	display:block;
	height:25px;
	padding:1px;
	pointer-events:none;
	position:absolute;
    right:5px;
	top:-4px;
    width:20px; 
}
.btn_combobox:after {
    content:'>';
    font:16pt "Consolas", monospace;
	font-weight: bold;
    color:#004494;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; 
	top:-1px;
    padding:0;
    position:absolute;
    pointer-events:none;
}

.textarea_com {
	white-space:pre-line !important;
	background:transparent;
	padding:10px 0;
	border-width:0;
	text-align:left;
	resize:none;
	width:100%;
	min-height: 35px;
}

.textarea_com_edit {
	white-space:pre-line !important;
	background-color: #dfecc1;
	border-radius: 5px;
	padding:10px 5px;
	border-width:0;
	text-align:left;
	resize:none;
	width:calc(100% - 10px);
	min-height: 35px;
}

.fieldset{
	border-radius:10px;
	border-color:#6a6a6a;
	border-style: solid;
	background-color: #a2c282 !important;
	border-width: 1px !important;
	margin: 0 10px;
	padding: 7px;
	display: table !important;
	float: left;
	width:calc(100% - 40px);
	box-shadow: 2px 1px 3px 0 #6a6a6a;
}
.fieldset legend{
	background:#a2c282;
	background:-moz-linear-gradient(top, #accf8a 10%, #a2c282 100%);
	display: inline-table; 
	font-family: verdana, serif ; 
	font-size: 10pt ;
	font-style: normal;
	color:#6a6a6a;
	white-space:nowrap;
	font-weight:bold;
	text-decoration:none;
	padding: 0 5px 0 5px;
}
.fieldset .editbox{
	border-color:#a2c282;
}


.backtotop {
	bottom: 108px;
	right: 3px;
	position:fixed;
	cursor: pointer;
	display:none;
	opacity:0.7;
}
.backtotop:hover {
	opacity:1;
}

.last_maj {
	font-family: verdana, serif ; 
	font-size: 8pt ;
	font-style: italic;
	color:#004494;
	white-space:nowrap;
	text-align: right;
	font-weight:normal;
	text-decoration:none;
	padding:3px;
}

.lib_alerte {
	font-family: verdana, serif ; 
	font-size: 9pt ;
	font-weight: bold;
	font-style: normal;
	color:#ff0000;
	text-align: center;
}

.prob_info {
	position: absolute;
	text-align:center;
	vertical-align: middle;
	width:350px;
}
.prob_info label {
	color: #d77b0e;
    font-family: Cambria,Verdana;
    font-size: 15pt;
    font-weight: bold;
    letter-spacing: 1px;
	top:150px;
	left: -25px;
    position: absolute;
    text-align: center;
    text-shadow: 1px 1px 1px #000000;
    transform: rotate(-45deg);
    word-spacing: 2px;
	z-index:1000;
}

.readonly input, input.readonly, .readonly select, .readonly textarea, .readonly select:before , .readonly label:before {
	background-color: #cbcbcb !important;
	cursor:default !important;
	border-color: #cbcbcb !important;
}

.valid {
	background:url(../images/valider.png);
	font-size:0pt;
	width:20px;
	height:20px;
	border:0px;	
	cursor:pointer;
}

.save {
	text-align:right;
	margin-right:80px;
}
.save input{
	font-size:0pt;
	border:0px;	
	cursor:pointer;
	margin-right:50px;
}
.save input{
	background:url(../images/enregistrer.png) no-repeat;
	width:30px;
	height:30px;
}

.btn_frm {
	background-color: #cce2b7;
	color: #004494;
	border-left:2px solid #cce2b7;
	border-top:2px solid #cce2b7;
	border-right:2px solid #6c6c6b;
	border-bottom:2px solid #6c6c6b;
	border-radius: 25px;
	padding:3px;
	font-family: verdana,serif;
	font-variant:small-caps;
	cursor:pointer;
}
.btn_frm:hover {
	text-shadow: 0.5px 0px 0.25px, -0.5px 0px 0.25px;
}
.btn_frm:active {
	text-shadow: 0.5px 0px 0.25px, -0.5px 0px 0.25px;
	border-top:2px solid #accf8b;
	border-left:3px solid #accf8b;
	border-right:1px solid #6c6c6b;
	border-bottom:1px solid #6c6c6b;
	margin-bottom:1px;
	border-radius: 25px;
	margin-right:0px;
}
.readonly input.btn_frm, .readonly input.btn_frm:active {
	text-shadow: none !important;	
	background-color: #cbcbcb !important;
	color: #f5f5f5 !important;
	border-left:2px solid #cce2b7;
	border-top:2px solid #cce2b7;
	border-right:2px solid #6c6c6b;
	border-bottom:2px solid #6c6c6b;
	margin-bottom:0;	
	cursor:default !important;
}

.filtre{
	padding : 1px 1px 1px 1px;
}
.filtre input {
	height:18px;
}
td.filtre {
	height:37px;
}

.ordre{
	padding : 1px 0px 1px 5px;
}

.no-border{
	background-color: transparent !important;
	border-radius: 0 !important;
	border-width: 0 !important;
	display: table !important;
	float: left;
	white-space:nowrap;
}

.loading{
	position: fixed;
	opacity:0.9;
	top:400px;
	left:calc(50% - 40px);
	height:50px;
}
.loading img{
	position: absolute;
	cursor:pointer;
	z-index:10;
	width:40px;
}

.evidence {
	font-family: verdana, serif ; 
	font-size: 9pt;
	color:#004494;
	font-weight:bold;
	text-decoration:none;
	font-style: normal;
	white-space: nowrap;
	text-align: left;
	padding: 3px;
}