.seltext { /* accueil_alertes.php */
	cursor:pointer;
	background-image:url(images/ui-icons_ef8c08_256x240.png);
	width:16px;
	height:16px;
	display:block;
	background-position:-144px -192px;
	margin-left:15px;
}

.wrapper { /* new_contact.php */
	background-color:#accf8a;
	text-align:center;
	padding:25px;
	border-radius: 10px;
	box-shadow: 10px 10px 20px 0px #6c6c6b;
}

/* new_contact.php ; relais_select.php */
.sous_table td {
	padding: 0 15px 0 15px;
}

.sous_table div { 
	display: inline; 

}

/* CONTACTS */
/* pas vraiment utile de le garder */
.plus a{
	padding: 0 0 4px 0;
}
.plus a span, .plus .tabs-selected a span{
	padding: 8px 0 0 0 !important;
	min-width: 0;
}

/* SIG */
/* un peu partout */
.processing {
	text-align:right;
	margin-right:80px;
}
.processing input{
	font-size:0pt;
	border:0px;	
	cursor:pointer;
	margin-right:50px;
}
.processing input{
	background:url(../images/processing.png) no-repeat;
	width:50px;
	height:50px;
}


