/* utilisé régulièrement pour alterner la couleur des lignes d'un tableau afin d'apporter plus de lisibilité. */
/* les classes autres que toggle en prefixe sont spécifiques à certaines pages*/
.toggle_tr {
	font-weight:normal;
	cursor:pointer;
}
.toggle_tr:hover  td {
	border-top:solid 2px #f98d00;
	border-bottom:solid 2px #f98d00;
}
.toggle_tr:hover > td a{
	font-weight:bold;
	font-size:8pt;
}
.bilan_site_tr, .site_sp_tr {
	font-weight:normal;
	cursor:default;
}
.toggle_tr td, .bilan_site_tr td, .site_sp_tr td {
	padding:6px 3px;
}
.l0 td{
	background:#e0cf8c;
	border-top:solid 2px #e0cf8c;
	border-bottom:solid 2px #e0cf8c;
}
.l1 td{
	background:#f5e7b0;
	border-top:solid 2px #f5e7b0;
	border-bottom:solid 2px #f5e7b0;
}
.l2 td{
	background:#ccc;
	border-top:solid 2px #ccc;
	border-bottom:solid 2px #ccc;
}
.toggle_tr a, .bilan_site_tr a, .site_sp_tr a{
	text-decoration:none;
	color:#004494;	
	font-family: verdana, tahoma;
	font-size:10pt;
	margin-left: 10px
}
.toggle_tr td:first-child, .bilan_site_tr td:first-child, .site_sp_tr td:first-child {
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 20px;
}
.toggle_tr td:last-child, .bilan_site_tr td:last-child, .site_sp_tr td:last-child {
    border-bottom-right-radius: 10px; 
    border-top-right-radius: 20px; 
}
.tr_site_detail {
	font-weight:normal;
	padding:55px;
}
.tr_site_detail td {
	padding:1px 5px;
}
.tr_site_detail a{
	font-style:italic;
	color:#004494;	
	font-family: verdana, tahoma;
	font-size:8pt;
	margin-left: 10px
}
.tr_site_detail td:first-child {
    border-bottom-left-radius: 20px;
}
.tr_site_detail td:last-child {
    border-bottom-right-radius: 10px; 
}

/* --------------------------------------------------- */