body {
    counter-reset: titrepage menus sousmenus soussousmenus section soussection soussoussection paragraphe sousparagraphe;
}

p, .evidence, li.span  {
	margin: 0.5em 0;
	color: #004494;
	font-family:Cambria;
	font-size:12pt;
	line-height: 1.6em;
}

.avant-propos {
	text-align:left;
	color:#6ca11a;
	font-family:Cambria, Verdana;
	text-decoration:none;
	text-shadow: 1px 2px 2px #979797;
	margin: 40px 0 0 15px;
	font-size:14pt;
	padding:5px 0 0 5px;
	font-weight: bold;
}

span.plugin_title, span[id^="img_"]{
cursor: pointer;
}

.evidence {
	white-space: nowrap;
	font-size:13pt !important;
	font-weight: bold !important;
	display: inline;
	text-shadow: 1px 1px 1px #ff8f8f;
}

a {
   color: #004494;
	font-family:Cambria;
}

.notetip {
    background-image: url("images/tip.png");
	background-color:#fafa97;
}

.notehelp {
    background-image: url("images/help.png");
	background-color:#adadff;
}

.notewarning {
    background-image: url("images/warning.png");
	background-color:#ff8f8f;
	vertical-align: middle;
}

.notewarning, .notetip, .notehelp {
	color: #004494;
	font-family:Cambria;
	font-size:13pt;
	font-weight: bold;
	text-align:center;	
    background-position: 20px 50%;
    background-repeat: no-repeat;
    border-collapse: collapse;
    border-radius: 20px;
    clear: none;
    margin: 2em auto;
    min-height: 40px;
    padding: 15px 20px 15px 80px;
    width: 70% !important;
	-webkit-box-shadow: 10px 10px 20px 0px #b2d490;
	box-shadow: 5px 5px 10px 0px #6c6c6b;
	line-height:1.2em;
	vertical-align:middle;
}

.plugin_title {
	text-align:left;
	margin: 0.5em 0;
	color: #004494;
	font-family:Cambria;
	font-size:12pt;
	font-weight:bold;
	line-height: 1.6em;
	text-decoration:none;
	text-shadow: 1px 2px 2px #979797;
}

.div_img_tuto {
	background-color: #cce2b7;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 0 #6c6c6b;
    padding: 15px;
}